name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Updating apt
      run: sudo apt update

    - name: Settings up JDK21
      run: sudo apt install openjdk-21-jdk

    - name: Setting script execution true
      run: chmod +x ./gradlew

    - name: Install dependencies
      run: make

    - name: Run check
      run: make check

    - name: Run distcheck
      run: make distcheck
